[user]
	name = rkitamu
	email = rkitamun@gmail.com
[core]
	editor = vim
	autoCRLF = false
[init]
  defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
